@model IEnumerable<InventarioValidade.Models.ProdutoStatus>

@{
    ViewData["Title"] = "Controle de Validades";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<h1>ZS</h1>

<p class="adicionar">
    <a asp-action="Create">Adicionar produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Data de Validade</th>
            <th>Preço Unitário</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var produto = item.Produto;
            var status = item.StatusValidade;

            <tr>
                <td>@produto.Nome</td>
                <td>@produto.Preco</td>
                <td>@produto.Quantidade</td>
                <td>@produto.DataValidade.ToShortDateString()</td>
                <td>@produto.Precounitario</td>
                <td style="color:@(status == "VENCIDO" ? "red" : status == "PRÓXIMO DO VENCIMENTO" ? "orange" : "green")">
                    @status
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@produto.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@produto.Id">Vizualizar</a> |
                    <a asp-action="Delete" asp-route-id="@produto.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
